.NoEnoughPlayersBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.NoEnoughPlayersBlock .NoEnoughPlayersBlock__Button {
  margin-top: 20px;
}