.WinnerBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
}

.WinnerBlock .WinnerBlock__Button {
  margin-top: 20px;
}

.WinnerBlock .WinnerBlock__Title.GREEN {
  color: var(--green-color);
}

.WinnerBlock .WinnerBlock__Title.RED {
  color: var(--red-color);
}