:root {
  --main-color: #4a4747;
  --secondary-color: #8c8a8a;
  --white-color: #ffffff;

  --main-bg-color: #d8d3d2;

  --yellow-color: #fadb2f;
  --yellow-dark-color: #bca50e;
  --red-color: #f16b25;
  --red-dark-color: #c6460c;

  --green-color: #65d94a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-color);
}