.Button {
  background: white;
  border: 1px var(--secondary-color) solid;
  color: var(--link-color);
  padding: 5px 20px;
  font-size: 1.2em;
  font-weight: 700;
}

.Button.fluid{
  width: 100%;
}

.Button.small{
  padding: 2px 10px;
  font-size: 1em;
  font-weight: 500;
}

.Button:active, .Button:focus {
  outline: none;
  border: 1px var(--secondary-color) solid;
}

.Button:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.Button:disabled {
  cursor: not-allowed;
  color: var(--secondary-color);
}
