.RoomsList {

}

.RoomsList__RoomItem{
  border: 1px var(--secondary-color) solid;
  padding: 5px;
  margin-top: 10px;
}

.RoomsList__RoomItem__Title{
  font-size: 1.4em;
  font-weight: 700;
  color: var(--main-color);
}

.RoomsList__RoomItem__Players{
  margin-top: 5px;
}

.RoomsList__RoomItem__PlayersTitle{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--main-color);
}
.RoomsList__RoomItem__PlayersList{
  margin: 5px 0 0 5px;
}

.RoomsList__RoomItem__Button{
  margin-top: 10px;
}