.BoardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.BoardInfo__Header{
  padding: 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.BoardInfo__Header__Left h2 {
  margin: 0;
}

.BoardInfo__Content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BoardInfo__Content__Game {
  margin: 3px 0;
}

.BoardInfo__Content__Game {
  margin: 0;
}

.BoardInfo__Content__Game.YELLOW{
  color: var(--yellow-dark-color);
}
.BoardInfo__Content__Game.RED{
  color: var(--red-dark-color);
}