.Column {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  padding: 10px 3px;
  transition: background-color .2s linear;
}

.Column.disabled{
  cursor: not-allowed;
}

.Column:hover:not(.disabled) {
  background-color: rgba(0, 0, 0, 0.1);
}