.Setup {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Setup__Inner{
  width: 500px;
  display: flex;
  flex-direction: column;
}

.Form__Control{
  margin-top: 10px;
}