.Cell {
  width: 100px;
  height: 100px;
  background: var(--white-color);
  border: 1px var(--secondary-color) solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.Cell__Inner {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  animation-name: fallAnimation;
}
.Cell__Inner[data-duration="0.1"] {
  animation-duration: 0.1s;
}
.Cell__Inner[data-duration="0.5"] {
  animation-duration: 0.5s;
}
.Cell__Inner[data-duration="1"] {
  animation-duration: 1s;
}

.Cell__Inner.YELLOW {
  background: var(--yellow-color);
  background: radial-gradient(circle, var(--yellow-dark-color) 0%, var(--yellow-color) 50%, var(--secondary-color) 100%);
}
.Cell__Inner.YELLOW.winner {
  background: radial-gradient(circle, var(--green-color) 0%, var(--yellow-color) 50%, var(--secondary-color) 100%);
}

.Cell__Inner.RED {
  background: var(--red-color);
  background: radial-gradient(circle, var(--red-dark-color) 0%, var(--red-color) 50%, var(--secondary-color) 100%);
}
.Cell__Inner.RED.winner {
  background: var(--red-color);
  background: radial-gradient(circle, var(--green-color) 0%, var(--red-color) 50%, var(--secondary-color) 100%);
}

/*.Cell__Inner.winner {*/
/*  background: var(--green-color);*/
/*  background: radial-gradient(circle, var(--green-dark-color) 0%, var(--green-color) 50%, var(--secondary-color) 100%);*/
/*}*/

@keyframes fallAnimation {
  0%   {
    transform: translate(0, -700px);
  }

  100% {
    transform: translate(0, 0);
  }
}